<h1>So you are here, you must also like Italo Calvino: </h1>
<h3>the man who combined Art and Science in the modern world;</h3>
<h3>the man who attempted to express scientific theories such as quantum physics in literary form;</h3>
<h3>the man who helped define magical realism;</h3>
<h3>the man who recreated conversations between Marco Polo and Khubilai Khan.</h3>
<br>
<h1>the man who wrote: The Road to San Giovanni, If on a Winter’s Night a Traveler, Invisible Cities, Marcovaldo, and Mr. Palomar.</h1>



<br>
<br>
<p>He was born in 1923 in Santiago de las Vegas, Cuba, though his family moved to Italy while he was still a toddler.
  Calvino spent most of his life in Europe, participating in the Italian Resistance in the second World War and publishing short stories and novels in Italian.</p>

<br>

<%= link_to 'See some photos about him', photos_path %>